#menuBar
{
	padding-top: 67px;
	padding-left: 20px;
	float: left;
	width: 80%;
}
img
{
	width = 19%;
	float: left;
}
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li
{
	display: inline-block;
	border-right: 2px;
	border-top: 2px;
	border-bottom: 2px;
	float: left;
	padding-left: 120px;
	padding-right: 120px;
	background-color: #E06C58;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
}
.project_1
{
	padding-left: 0px;
	width: 33%;
	float: left;
}
img.project_1_image
{
	width: "600";
	height: "600";
}
.project_2
{
	width: 33%;
	float: left;
}
img.project_2_image
{
	width: "600";
	height: "600";
}
.project_3
{
	width: 33%;
	float: right;
}
img.project_3_image
{
	width: "600";
	height: "600";
}
.project_images
{
	padding-top: 100px;
	float: middle;
	width: 100%;
}